.anatomy-section {
    background-color: #EEF2F5;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #0a2176;


}

.anatomy-img {
    width: 80%;
    height: 400px;
    display: block;
    padding-left: 20px;
}



.anatomy-img {
    width: 100%;
    height: 100%;
    display: block;
}

.health-indicator {
    position: absolute;
    padding: 15px 10px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 2;
}




@media (max-width: 768px) {
    .anatomy-section {
        max-width: 250px;
    }

    .health-indicator-list {
        width: 90%;
        align-items: center;
    }

    .health-indicator {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .anatomy-section {
        max-width: 100%;
        padding: 10px;
    }

    .anatomy-img {
        padding-left: 0;
    }


}


@media (min-width: 481px) {
    .anatomy-section {
        flex-direction: row;
    }

    .health-indicator-list {
        width: 50%;
    }
}